<div>
  <div>
    <button type="button">1</button>
    <button type="button">2</button>
    <button type="button">3</button>
  </div>
  <table class="table table-bordered">
    <thead>
      <th>Ime i Prezime</th>
      <th>Godiste</th>
      <th>Profesija</th>
    </thead>
    <tbody>
      <tr *ngFor="let actor of actors">
        <td [style.width.%]="rowWidth">{{ actor.primaryName }}</td>
        <td [style.width.%]="rowWidth">{{ actor.birthYear }}</td>
        <td [style.width.%]="rowWidth">{{ actor.primaryProfession }}</td>
        <!-- <td>
          <button
            type="success"
            class="btn btn-success"
            [routerLink]="['/actordetails', actor.id]"
          >
            Details
          </button>
        </td> -->
      </tr>
    </tbody>
  </table>
</div>
